html {
    box-shadow: inset 0px 0px 30px 1px rgb(6, 59, 55);
    height: 100%;
}
header {
    display: flex;
    justify-content: space-between;
    height: 87px;
    background-color: #B9E2F1;
    padding: 7px;
    align-items: center;
    box-shadow: 1px 15px 15px rgb(23, 46, 44);
    border-bottom: solid  rgba(51, 170, 51, 0);
}
a {
    text-decoration: none;
}
.logo img{
    height: 80px;
    margin-left: 25%;
}
.twitch {
    margin-right: 45%;
}
.twitch a {
    color: rgb(144, 27, 221);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40px;
}
.twitch a:hover{
    color: rgb(127, 22, 197);;
    border-bottom: 1px;
    text-shadow: 1px -1px #0e2642;
    margin-right: 3px;
}
body {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(1, 14, 14);
    margin: 0;
    background-color:  #275e72;
    min-height: 100%;
}
#container {
    padding: 10%;
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: rgba(255, 255, 255, 0.8);
    position: relative;
    border: solid  rgba(51, 170, 51, 0) ;
    border-top: 0;
    border-bottom: 0;
    box-shadow: inset 0px 0px 20px 0px rgb(23, 46, 44);
    margin-left: 1%;
    margin-right: 1%;
    height: 100vw;
}
#container p{
    text-align: justify;
    font-family: monospace;
    font-size: 20px;
}
footer {
    background-color: #99bae0;
    align-items: center;
    height: 50px;
    padding: 10px;
    box-shadow: 1px -15px 15px rgb(23, 46, 44);
}
footer a {
    font-size: 35px;
    color: black;
}
footer a:hover {
    color: aliceblue;
    border-bottom: 1px;
    text-shadow: 1px -1px #a5a8ac;
    margin-right: 4px;
}
