body {
    text-align: center;
    font-family: "Arial";
    color: aqua;
}
#header {
    width: 60%;
    padding: 1em;
    text-align: left;
    border: 1px solid crimson;
}
#header a{
    font-size: 20px;
}
#container {
    background-color: beige 60%;
    position: relative;
    border: 1px solid violet;
}