body {
    text-align: center;
    font-family: "Arial";
    color: aqua;
}
#header {
    position: relative;
    margin: 10%;
    margin-top: 1%;
    margin-bottom: 1%;
    width: auto;
    padding: 1em;
    text-align: center;
    border: 1px solid crimson;
}
#header a{
    font-size: 40px;
}
#container {
    background-color: rgba(51, 170, 51, .8);
    position: relative;
    border: 1px solid violet;
}